# Configuration file

features {
    # Set to false to stop Aegis from protecting village chests.
    B:"Aegis Chest Protection"=false

    # Set to false to disable Lifeleak from Faebolts fired by scared Nymphs.
    B:"Nymph Fae Bolt Lifeleak Enabled"=false

    # Sets the rate in ticks (20 ticks = 1 second) that a Nymph heals surrounding entities.
    I:"Nymph Healing Rate"=20
}


